body{
  background-color: white;
}

#content{
  width: 85%;
  margin: auto;
}

li{
  color: black;
  background-color: red;
  display: inline;
  height: 10em;
  width: 10em;
  text-align: center;
  float: left;
  margin-top: 2em;
  margin-right: 2em;
}
li > div{
  background-color: rgba(0,0,0,.25);
  height: 25%;
  margin-top: 75%;
}

#data li{
  background-color: red;
}

#data2 li{
  background-color: green;
}

/* Mediaquery voor detectie tablet-grootte (768px)
*/
@media screen and (max-width: 768px){
  li{
    width: 8em;
    height: 8em;
    margin-top: 1.5em;
    margin-right: 1.5em;
  }
  li > div{
    font-size:.75em;
  }
}

/* Mediaquery voor detectie smartphone-grootte (480px)
*/
@media screen and (max-width: 480px){
  li{
    width: 4em;
    height: 4em;
    margin-top: .75em;
    margin-right: .75em;
  }
  li > div{
    font-size:.5em;
  }
}